@media (max-width: 482px) {
  .events {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .teams {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .amiphoria-text {
    font-size: 4.6rem;
    margin-bottom: 5rem;
    font-family: "Vibur", cursive;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon 0.08s ease-in-out infinite alternate;
  }
}

.home {
  width: 100%;
  height: 100vh;
}
/* .amiphoria-text{
    font-size: 80px;
    background: -webkit-linear-gradient(#0e385e, #0e385e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
.posters-div {
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0 0 2em #61dafbaa); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  padding: 20px;
  text-align: center;
}
.text-div {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  max-width: 50%;
  width: auto;
  padding: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
}
.logo {
  width: 40%;
  height: 50%;
  top: 20%;
  right: 0;
  display: flex;
  position: absolute;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

.button::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.button::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.button:focus {
  outline: none;
}

.amiphoria-text {
  font-size: 5.6rem;
  margin-bottom: 5rem;
  font-family: "Vibur", cursive;
  text-align: center;
  line-height: 1;
  color: #ffffff;
  animation: neon 0.08s ease-in-out infinite alternate;
}
.btn-explore {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* button -grow effect */
.button-grow {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  /* border-radius: 4px; */
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-grow:hover {
  transform: scale(1.1);
}

/* social link color */
.ig {
  color: #d62976;
}
.fb {
  color: #4267b2;
}

@media screen and (max-width: 850px) {
  .home{
    flex-direction: column;
    justify-content: center;
  }
  .text-div {
    position: absolute;
    text-align: center;
    left: 50%;
    margin: -100px 0 0 -150px;
  }
  .logo {
    position: absolute;
    display: none;

  }
}
