.card-base{
    padding: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 17px;
    margin: 10px;
    width: 300px;
    height: 450px;
    align-self: center;
    background-color: white;
    transition: all .8s;
    overflow: hidden;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background: radial-gradient(#dba0cb, #c4afe0);
}
.card-base:hover{
    transition:  .3s;
    background: radial-gradient(#f588d8, #c0a3e5);
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.event-img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.event-img-placeholder{
    width: 100%;
    height: 230px;
    padding: 10px;
    /* border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
     */
     border-radius: 20px;

}
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    align-self: baseline;
    justify-content: baseline;
    color: black;
    background: white;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
}
.reg-text{
    align-self: center;
}
.title{
    font-family: 'Rubik', sans-serif;
}
.card-child{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}